{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('easyadmin/tema/DataTables-1.10.10/media/css/jquery.dataTables.css') }}"/>
{% endblock %}

{% block body %}
    <!-- Alerta -->
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- Header -->
    <div class="header bg-gradient-red-right pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Encuestas</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="{{ path('inicio') }}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{{ path('gestionarEncuestas') }}">Encuestas</a>
                                </li>
                                <li class="breadcrumb-item"><a href="{{ path('formImportarEncuesta') }}">Importar</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Resultado</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Resultado de la importación</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive" style="margin-top: 30px">
                        <table class="table align-items-center table-flush" id="resultadoEncuesta">
                            <thead style="background: #d93f4f;color: white">
                            <tr>
                                <th scope="col" class="text-center">Encuesta</th>
                                <th scope="col" class="text-center">Importada</th>
                                <th scope="col" class="text-center">Causas</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% if resultados %}
                                {% for resul in resultados %}
                                    <tr>
                                        <td class="text-center">{{ resul.encuesta }}</td>
                                        <td class="text-center">{{ resul.estado }}</td>
                                        {% if not resul.valido %}
                                            <td>{{ resul.motivo }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('easyadmin/tema/DataTables-1.10.10/media/js/jquery.dataTables.js') }}"></script>
    <script>
        $(document).ready(function () {

            //Roles y permisos de la page
            {
                (function () {
                    {% if not (is_granted("ROLE_SUPERUSUARIO") or is_granted("ROLE_ADMINISTRADOR") or is_granted("ROLE_ENTREVISTADOR")) %}
                    window.location.href = "{{ path('login') }}";
                    {% endif %}
                })();
            }

            //Declaraciones
            $('#resultadoEncuesta').DataTable({
                "lengthChange": false,
                "lengthMenu": [[10], [10]]
            });

        });

    </script>
{% endblock %}

